<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="goToUserProfile()">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="Refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center bold>
      ARV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="3" *ngFor="let func of FuncAccess">
        <ion-card class="card" (click)="Redirect(func)">
          <ion-card-header>
            <ion-card-title>{{ func.FunctName }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon [name]="func.image"></ion-icon>
            <ion-label color="danger">{{ func.Details }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="signout()"
        ><ion-icon name="log-out"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button (click)="goToInfoPage()"
        ><ion-icon name="information-circle"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
