<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    <ion-title text-center bold >About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
        <ion-row>
                <ion-col>
                  <img src="./../../../resources/icon.png" style="height: 100px;width: 100px;" />
                </ion-col>
              </ion-row>
</ion-content>
